<footer class="footer">
    <div class="footer__content content container full-width">
        <div class="footer__copyright">
            <span>&copy; {{ currentYear }} Zmista.cz | Developed by <a zmst-button [text]="'LittleWall'" [attr.href]="'https://littlewall.dev'" target="_blank"></a></span>
        </div>
        <div class="footer__links">
            <a zmst-button [text]="'Zásady ochrany osobních údajů'" [attr.href]="'/ochrana-osobnich-udaju'"></a>
            <a zmst-button [text]="'Všeobecné podmínky užívání'" [attr.href]="'/podminky-uzivani'"></a>
        </div>
    </div>
</footer>
